modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["libev"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45170477
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[agent]
expertMode = true
