Flask>=3.0.2,<4
gunicorn>=22.0.0
gevent>=24.0.0
sqlalchemy>=2.0.0
werkzeug>=3.0.0
psycopg2-binary>=2.9.0
pytz>=2024.1
cloudinary>=1.40.0
weasyprint>=62.0
flask-bcrypt>=1.0.0
flask-sqlalchemy>=3.0.0
pymysql