<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li style="color: {% if category == 'error' %}red{% else %}green{% endif %};">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  <form method="POST" action="/login">
    <input type="text" name="username" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar sesión</button>
  </form>
  <br>
  <br>
  <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
</body>
</html>