<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const checkboxes = document.querySelectorAll('.single-checkbox');

        checkboxes.forEach(checkbox => {
          checkbox.addEventListener('change', function () {
            if (this.checked) {
              checkboxes.forEach(other => {
                if (other !== this) {
                  other.checked = false;
                }
              });
            }
          });
        });
      });
    </script>
    
<body>
    <div class="container mt-5">
        <!-- FLASH MESSAGES -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}



        
        <form method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <br>
            
            <a>No tienes una cuenta? <br>Selecciona una opción: &#128072;</a>

            <label>
                <input type="checkbox" id="1" name="choice" value="value1" class="single-checkbox">
                Registrar docente
              </label>
              <label>
                <input type="checkbox" id="2" name="choice" value="value2" class="single-checkbox">
                Registrar alumno
              </label>
            <br>
             <a href="{{ url_for('register') }}">Realiza tu registro aquí &#128072;</a>
        </form>
        
    </div>
</body>
</html>