<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8" />
<title>Plan {{ i.plan }}</title>
<!--<meta name="frm_plan" content="form planea" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</head>

  <script>
    document.getElementById('download-pdf').addEventListener('click', () => {
      // Selecciona el elemento que quieres convertir a PDF, por ejemplo todo el body o un div específico
      const element = document.body; // o document.getElementById('mi-contenido')

      const options = {
        margin:       0.75,
        filename:     'planX.pdf',
        image:        { type: 'jpeg', quality: 0.98 },
        html2canvas:  { scale: 1 },
        jsPDF:        { unit: 'in', format: 'a4', orientation: 'landscape' }
      };

      // Genera y descarga el PDF
      html2pdf().set(options).from(element).save();
    });
  </script>



<script>
      document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('input[type="text"], input[type="number"], textarea');

        inputs.forEach(function(input) {

        input.addEventListener('input', function() {
            input.value = input.value.toUpperCase();
            });

        });
      });
    </script>


{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="container mt-3">
            {% for category, message in messages %}
              <div class="alert alert-{{ 'danger' if category == 'danger' else 'success' }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

<style>
  .form-control{
    font-size:14px;
  }
  
</style>

<body>
  <div class="container">

    



  

    <form>

      <div>
        <h2>Planeación {{ i.plan }}</h2>
      </div>

      <div class="row g-2 mb-3">
        <div class="col-sm-6">
          <label for="cve" class="form-label">Parcial:</label>
          <input type="text" class="form-control" name="cve" value="{{ i.parcial }}" readonly>
        </div>
        <div class="col-sm-6">
          <label for="cve" class="form-label">Clave de la planeación:</label>
          <input type="text" class="form-control" name="cve" value="{{ i.cve }}" readonly>
        </div>
        <div class="col-sm-6">
          <label for="created_at" class="form-label">Fecha de creación:</label>
          <input type="text" class="form-control" name="created_at" value="{{ i.created_at }}" readonly>
        </div>
      </div>
      
    <div style="background-color:rgb(120,120,0,0.5)"> 
      <h3>Datos Generales</h3>
      </div>
      <div class="mb-3 row g-3">
        <div class="col-sm-4">
        <label for="plantel" class="form-label mb-0" style="font-weight:bold;">Plantel</label>
        <label type="text" class="form-control" name="plantel">{{ i.plantel}}</label>
        </div>
        <div class="col-sm-4">
        <label for="ciclo" class="form-label  mb-0" style="font-weight:bold;">Ciclo</label>
        <label type="text" class="form-control" name="ciclo">{{ i.ciclo }}</label>
        </div>
        <div class="col-sm-4">
        <label class="form-label mb-0" for="periodo" style="font-weight:bold;">Periodo</label>
          <label type="text" class="form-control" name="periodo">{{ i.periodo }}</label>
        </div>
      </div>
      <div class="mb-3 row g-3">
        <div class="col-sm-4">
        <label class="form-label  mb-0" for="carrera" style="font-weight:bold;">Carrera</label>
          <label type="text" class="form-control" name="carrera">{{ i.carrera }}</label>
        </select>
        </div>
        <div class="col-sm-4">
        <label class="form-label mb-0" for="semestre" style="font-weight:bold;">Semestre</label>
          <label type="text" class="form-control" name="semestre">{{ i.semestre }}</label>
        </div>
        <div class="col-sm-4">
        <label class="form-label mb-0" for="grupos" style="font-weight:bold;">Grupo(s)</label>
        <label type="text" class="form-control" name="grupos">{{ i.grupos }}</label>
        </div>

        {% set asignaturas = {'PM1': 'PENSAMIENTO MATEMÁTICO 1', 'PM3': 'PENSAMIENTO MATEMÁTICO 3', 'INOCAGRO': 'INOCUIDAD EN AGRICULTURA'} %}
        <input type="text" 
               class="form-control" 
               value="{{ i.asig }}" 
               title="{{ asignaturas[i.asig|string] }}" 
               readonly>
<!--
      <div class="col-sm-12">
        <label class="form-label mb-0" for="asig" style="font-weight:bold;">Asignatura</label>
        <label type="text" class="form-control" name="asig">{{ i.asig }}</label>
      </div>
-->
        <div class="col-sm-6">
          <label for="meta" class="form-label mb-0" style="font-weight:bold;">Meta educativa</label>
          <textarea type="text" class="form-control" name="meta" rows="5">{{ i.meta }}</textarea>
          </div>
        
        <div class="mb-3 row g-2">
          <div class="col-sm-6">
          <label for="prop" class="form-label mb-0" style="font-weight:bold;">Propósito formativo</label>
            <textarea type="text" class="form-control" name="prop" rows="5">{{ i.prop }}</textarea>
            </div>

          <div class="col-sm-6">
          <label for="temas" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
            <textarea type="text" class="form-control" name="temas" rows="5">{{ i.temas }}</textarea>
            </div>
      </div>


        
      </div>
      <div class="mb-3 row g-3">
        <div class="col-sm-5">
        <label for="horas_sem" class="form-label mb-0" style="font-weight:bold;">horas/semana</label>
          <label type="text" class="form-control" name="horas_sem">{{ i.horas_sem }}</label>
        </div>
        <div class="col-sm-7">
        <label for="docenteID" class="form-label mb-0" style="font-weight:bold;">Docente</label>
          <label type="text" class="form-control" name="docenteID">{{ i.docenteID }}</label>
        </div>
      </div>
      <div class="mb-3 row g-1">
        <div class="col-sm-12">
        <label for="imparte" class="form-label mb-0" style="font-weight:bold;">Período de impartición</label>
          <label type="text" class="form-control" name="imparte">{{ i.imparte }}</label>
        </div>
      </div>


    <div style="background-color:rgb(120,120,0,0.5)">
        <h3>Asignaturas transversales con PEC (transdiciplinares):</h3> 
    </div>

        {% if i.trAsigP1 %}
        <div>
        <label for="trAsigP1" class="form-label mb-0" style="font-weight:bold;">Asignatura 1</label>
          {% set asignaturas = {'CD1': 'CULTURA DIGITAL 1', 'LCM1': 'LENGUA Y COMUNICACIÓN 1'} %}
          <input type="text" 
                 class="form-control" 
                 value="{{ i.trAsigP1 }}" 
                 title="{{ asignaturas[i.trAsigP1|string] }}" 
                 readonly>
      
        <label for="trtemaP1" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
          <textarea type="text" class="form-control mb-4" name="trtemaP1">{{ i.trtemaP1 }}</textarea>
        </div>
        {% endif %}

        {% if i.trAsigP2 %}
    <div>
        <label for="trAsigP2" class="form-label mb-0" style="font-weight:bold;">Asignatura 2</label>
      {% set asignaturas = {'CD1': 'CULTURA DIGITAL 1', 'LCM1': 'LENGUA Y COMUNICACIÓN 1'} %}
      <input type="text" 
             class="form-control" 
             value="{{ i.trAsigP2 }}" 
             title="{{ asignaturas[i.trAsigP2|string] }}" 
             readonly>
        <label for="trtemaP2" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
          <textarea type="text" class="form-control mb-4" name="trtemaP2">{{ i.trtemaP2 }}</textarea>

    </div>
        {% endif %}

        {% if i.trAsigP3 %}
    <div>

        <label for="trAsigP3" class="form-label mb-0" style="font-weight:bold;">Asignatura 3</label>
      {% set asignaturas = {'CD1': 'CLTURA DIGITAL 1', 'LCM1': 'LENGUA Y COMUNICACIÓN 1'} %}
      <input type="text" 
             class="form-control" 
             value="{{ i.trAsigP3 }}" 
             title="{{ asignaturas[i.trAsigP3|string] }}" 
             readonly>

        <label for="trtemaP3" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
          <textarea type="text" class="form-control mb-4" name="trtemaP3">{{ i.trtemaP3 }}</textarea>

    </div>
        {% endif %}

        {% if i.trAsigP4 %}
        <div>

            <label for="trAsigP4" class="form-label mb-0" style="font-weight:bold;">Asignatura 4</label>
          {% set asignaturas = {'CD1': 'CULTURA DIGITAL 1', 'LCM1': 'LENGUA Y COMUNICACIÓN 1'} %}
          <input type="text" 
                 class="form-control" 
                 value="{{ i.trAsigP4 }}" 
                 title="{{ asignaturas[i.trAsigP4|string] }}" 
                 readonly>

            <label for="trtemaP4" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
              <textarea type="text" class="form-control mb-4" name="trtemaP4">{{ i.trtemaP4 }}</textarea>

        </div>
            {% endif %}





      <div style="background-color:rgb(120,120,0,0.5)">
        <h3>Asignaturas transversales (Multi o interdisciplinar)):</h3> 
      </div>

        {% if i.trAsigM1 %}
        <div>
        <label for="trAsigM1" class="form-label mb-0" style="font-weight:bold;">Asignatura 1</label>
          {% set asignaturas = {'CD1': 'CULTURA DIGITAL 1', 'LCM1': 'LENGUA Y COMUNICACIÓN 1'} %}
          <input type="text" 
                 class="form-control" 
                 value="{{ i.trAsigM1 }}" 
                 title="{{ asignaturas[i.trAsigM1|string] }}" 
                 readonly>

        <label for="trtemaM1" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
          <txtarea type="text" class="form-control mb-4" name="trtemaM1">{{ i.trtemaM1 }}</textarea>
        </div>
        {% endif %}

        {% if i.trAsigM2 %}
      <div>
        <label for="trAsigM2" class="form-label mb-0" style="font-weight:bold;">Asignatura 2</label>
      {% set asignaturas = {'CD1': 'CULTURA DIGITAL 1', 'LCM1': 'LENGUA Y COMUNICACIÓN 1'} %}
      <input type="text" 
             class="form-control" 
             value="{{ i.trAsigM2 }}" 
             title="{{ asignaturas[i.trAsigM2|string] }}" 
             readonly>
        <label for="trtemaM2" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
          <textarea type="text" class="form-control mb-4" name="trtemaM2">{{ i.trtemaM2 }}</textarea>

      </div>
        {% endif %}

        {% if i.trAsigM3 %}
      <div>

        <label for="trAsigM3" class="form-label mb-0" style="font-weight:bold;">Asignatura 3</label>
      {% set asignaturas = {'CD1': 'CULTURA DIGITAL 1', 'LCM1': 'LENGUA Y COMUNICACIÓN 1'} %}
      <input type="text" 
             class="form-control" 
             value="{{ i.trAsigM3 }}" 
             title="{{ asignaturas[i.trAsigM3|string] }}" 
             readonly>

        <label for="trtemaM3" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
          <textarea type="text" class="form-control mb-4" name="trtemaM3">{{ i.trtemaM3 }}</textarea>

      </div>
        {% endif %}

          {% if i.trAsigM4 %}
        <div>

          <label for="trAsigM4" class="form-label mb-0" style="font-weight:bold;">Asignatura 4</label>
        {% set asignaturas = {'CD1': 'CULTURA DIGITAL 1', 'LCM1': 'LENGUA Y COMUNICACIÓN 1'} %}
        <input type="text" 
               class="form-control" 
               value="{{ i.trAsigM4 }}" 
               title="{{ asignaturas[i.trAsigM4|string] }}" 
               readonly>

          <label for="trtemaM4" class="form-label mb-0" style="font-weight:bold;">Contenidos</label>
            <textarea type="text" class="form-control mb-4" name="trtemaM4">{{ i.trtemaM4 }}</textarea>

        </div>
          {% endif %}

      



    <div style="background-color:rgb(120,120,0,0.5)">
        <h3>Apertura:</h3> 
    </div>
      <div class="mb-3 row g-2">

        <div class="col-sm-5">
          <label for="apDur" class="form-label mb-0" style="font-weight:bold;">Duración<br>(minutos)</label>
          <label type="text" class="form-control" name="apDur">{{ i.apDur }}</label>
        </div>
        <div class="col-sm-7">
          <label for="apEv" class="form-label mb-0" style="font-weight:bold;"><br>Evidencia</label>
          <textarea type="text" class="form-control" name="apEv">{{ i.apEv }}</textarea>
        </div>
      </div>
      <div class="mb-3 row g-2">
        <div class="col-sm-7">
          <label for="apIns" class="form-label mb-0" style="font-weight:bold;"><br>Instrumentos</label>
          <textarea type="text" class="form-control" name="apIns">{{ i.apIns }}</textarea>
        </div>
        <div class="col-sm-5">
          <label for="apPond" class="form-label mb-0" style="font-weight:bold;"><br>Ponderación (%)</label>
          <label type="text" class="form-control" name="apPond">{{ i.apPond }}</label>
        </div>
      </div>
      <div class="mb-3 row g-1">

          <label for="apAct" class="form-label mb-0" style="font-weight:bold;">Actividades de apertura:</label>
          <textarea class="form-control" name="apAct" rows="8">{{ i.apAct }}</textarea>

      </div>

    <div style="background-color:rgb(120,120,0,0.5)">
        <h3>Desarrollo:</h3> 
    </div>
      <div class="mb-3 row g-2">

        <div class="col-sm-5">
            <label for="deDur" class="form-label mb-0" style="font-weight:bold;">Duración<br>(minutos)</label>
            <label type="text" class="form-control" name="deDur">{{ i.deDur }}</label>
        </div>
        <div class="col-sm-7">
            <label for="deEv" class="form-label mb-0" style="font-weight:bold;"><br>Evidencia</label>
            <textarea type="text" class="form-control" name="deEv">{{ i.deEv }}</textarea>
        </div>
      </div>
      <div class="mb-3 row g-2">
        <div class="col-sm-7">
            <label for="deIns" class="form-label mb-0" style="font-weight:bold;"><br>Instrumentos</label>
            <textarea type="text" class="form-control" name="deIns">{{ i.deIns }}</textarea>
        </div>
          <div class="col-sm-5">
            <label for="dePond" class="form-label mb-0" style="font-weight:bold;"><br>Ponderación (%)</label>
            <label type="text" class="form-control" name="dePond">{{ i.dePond }}</label>
          </div>
        </div>
        <div class="mb-3 row g-1">

            <label for="deAct" class="form-label mb-0" style="font-weight:bold;">Actividades de desarrollo:</label>
            <textarea class="form-control" name="deAct" rows="10">{{ i.deAct }}</textarea>

        </div>

    <div style="background-color:rgb(120,120,0,0.5)">
        <h3>Cierre:</h3> 
    </div>

        <div class="mb-3 row g-2">

      <div class="col-sm-5">
        <label for="ciDur" class="form-label mb-0" style="font-weight:bold;">Duración<br>(minutos)</label>
        <label type="text" class="form-control" name="ciDur">{{ i.ciDur }}</label>
      </div>
      <div class="col-sm-7">
        <label for="ciEv" class="form-label mb-0" style="font-weight:bold;"><br>Evidencia</label>
        <textarea type="text" class="form-control" name="ciEv">{{ i.ciEv }}</textarea>
      </div>
    </div>
      <div class="mb-3 row g-2">
      <div class="col-sm-7">
        <label for="ciIns" class="form-label mb-0" style="font-weight:bold;"><br>Instrumentos</label>
        <textarea type="text" class="form-control" name="ciIns">{{ i.ciIns }}</textarea>
      </div>
      <div class="col-sm-5">
        <label for="ciPond" class="form-label mb-0" style="font-weight:bold;"><br>Ponderación (%)</label>
        <label type="text" class="form-control" name="ciPond">{{ i.ciPond }}</label>
      </div>
      </div>
      <div class="mb-3 row g-1">
     
        <label for="ciAct" class="form-label mb-0" style="font-weight:bold;">Actividades de cierre:</label>
        <textarea class="form-control" name="ciAct" rows="5">{{ i.ciAct }}</textarea>

      </div>
      
      {% set ns = namespace(total=0) %}



                    {% set apertura = i.apPond | int %}
                    {% set desarrollo = i.dePond  | int %}
                    {% set cierre =  i.ciPond  | int %}
                    {% set parcial_sum = apertura + desarrollo + cierre %}
                    {% set ns.total = ns.total + parcial_sum %}



            {% if ns.total != 100 %}

            <text class='partial-footer-total' style="color:red;">% evaluado: {{ ns.total }}%</text>
            {% else %}
            <text class='partial-footer-total' style="color:green;">% evaluado: {{ ns.total }}%</text>
            {% endif %}
<br>



      {% set ns = namespace(total=0) %}



                    {% set tapertura = i.apDur | int %}
                    {% set tdesarrollo = i.deDur | int %}
                    {% set tcierre = i.ciDur | int %}
                    {% set parcial_sum = tapertura + tdesarrollo + tcierre %}
                    {% set ns.total = ns.total + parcial_sum %}
                    {% set horasem = i.horas_sem | int %}


            {% if ns.total/60 != horasem/1 %}
      
            <text class='partial-footer-total' style="color:red;">Total tiempo: {{ ns.total/60 }}                         hrs</text>
            {% else %}
            <text class='partial-footer-total' style="color:green;">Total tiempo: {{ ns.total/60 }}                         hrs</text>
            {% endif %}
      
<br><br>
      <div class="col-sm">
        <label for="parPond" class="form-label" style="font-weight:bold;">Ponderación de esta planeación en el parcial (%):</label>
        <label type="number" class="form-control" name="parPond">{{ i.parPond }} %</label>
      </div><br>

    <div style="background-color:rgb(120,120,0,0.5)">
        <h3>Complementos:</h3> 
    </div>
    <div class="mb-3 row g-3">
        <div class="col-sm-4">
        <label for="materiales" class="form-label mb-0" style="font-weight:bold;">Materiales:</label>
        <textarea type="text" class="form-control" name="materiales" rows="4">{{ i.materiales }}</textarea>
        </div>
        <div class="col-sm-4">
        <label for="equipo" class="form-label mb-0" style="font-weight:bold;">Equipo:</label>
        <textarea type="text" class="form-control" name="equipo" rows="4">{{ i.equipo }}</textarea>
        </div>
        <div class="col-sm-4">
        <label for="fuentes" class="form-label mb-0" style="font-weight:bold;">Fuentes:</label>
        <textarea type="text" class="form-control" name="fuentes" rows="4">{{ i.fuentes }}</textarea>
        </div>
    </div>

    <div style="background-color:rgb(120,120,0,0.5)">
        <h3>Validación:</h3> 
    </div>
    <div class="mb-3 row g-3">
        <div class="col-sm-4">
        <label for="elabora" class="form-label mb-0" style="font-weight:bold;">Elabora:</label>
        <label type="text" class="form-control" name="elabora">{{ i.elabora }}</label>
        </div>
        <div class="col-sm-4">
        <label for="revisa" class="form-label mb-0" style="font-weight:bold;">Revisa:</label>
        <label type="text" class="form-control" name="revisa">{{ i.revisa }}</label>
        </div>
        <div class="col-sm-4">
        <label for="avala" class="form-label mb-0" style="font-weight:bold;">Avala:</label>
        <label type="text" class="form-control" name="avala">{{ i.avala }}</label>
        </div>
    </div>

      <br><br><br>
      <a href="{{  i.pdf_url  }}" class="btn btn-success" target="_blank">
        📄 Descargar instrumentos
      </a>
      <br><br>

      <a href="{{ url_for('download_pdf', id=i['id']) }}" class="btn btn-success" target="_blank">
        📄 Descargar PDF
      </a>
      <br><br>
      
  
      <a class="btn btn-info" type="button" href="{{ url_for('hello_pm1') }}">Regresar al inicio:</a>


  </div>
  </div>



    </form>
    <footer>
        <p class="mt-3 mb-5 text-center">&copy; 2025 HRBC</p>
        </footer>
    <br><br><br><br><br>


  </div>
</div>
  
</body>

</html>