<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('input[type="text"], input[type="number"], textarea');

        inputs.forEach(function(input) {
          if (input.name !== 'username' && input.name !== 'password') {
            input.addEventListener('input', function() {
              input.value = input.value.toUpperCase();
            });
          }
        });
      });
    </script>

    
<body>
    <div class="container mt-5">

        <h2>Registro</h2>
        <form method="POST">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" id="flashMessage" role="alert">
                        {{ messages[0] }}
                    </div>
                    <script>
                        // Hide the flash message after 5 seconds
                        setTimeout(function() {
                            document.getElementById("flashMessage").style.display = "none";
                        }, 3000);  // 5000 milliseconds = 5 seconds
                    </script>
                {% endif %}
            {% endwith %}
            


                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label for="numero_control" class="form-label">Número de Control</label>
                    <input type="text" class="form-control" id="numero_control" name="numero_control" required>
                </div>
                <div class="mb-3">
                    <label for="apellido_paterno" class="form-label">Apellido paterno</label>
                    <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" required>
                </div>
                <div class="mb-3">
                    <label for="apellido_materno" class="form-label">Apellido materno</label>
                    <input type="text" class="form-control" id="apellido_materno" name="apellido_materno">
                </div>
                <div class="mb-3">
                    <label for="nombres" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="nombres" name="nombres">
                </div>
                <div class="mb-3">
                    <label for="carrera" class="form-label">Carrera</label>
                    <input type="text" class="form-control" id="carrera" name="carrera" required>
                </div>
                <div class="mb-3">
                    <label for="semestre" class="form-label">Semestre</label>
                    <input type="text" class="form-control" id="semestre" name="semestre" required>
                </div>
                <div class="mb-3">
                    <label for="grupo" class="form-label">Grupo</label>
                    <input type="text" class="form-control" id="grupo" name="grupo" required>
                </div>

            
            <button type="submit" class="btn btn-success">Registrarse</button>

        <br>
        <a href="{{ url_for('login') }}">¿Ya tienes cuenta? Inicia sesión aquí</a>
    </div>
    <br><br><br><br><br><br>
    </body>
</html>