<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecciona una opción</title>
    <meta name="select" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <h1>Registrarse como:</h1>
    <form method="POST">
        <input type="radio" id="alumno" name="user_type" value="A" required>
        <label for="alumno">Alumno</label><br>

        <input type="radio" id="docente" name="user_type" value="D">
        <label for="docente">Docente</label><br><br>

        <input type="submit" value="Continue">
    </form>
</body>
</html>